<h1 id="homepage">Welcome to JobSniper</h1>

<div>
	<img class="homelogo" src="logo.png">
	<a id="loginhome" href="/login">Log In</a>
	<a id="signuphome" href="/signup">Sign Up</a>
	<%= flash[:error] %>
</div>