<style>
	div select {position: relative;
				width: 10%;
				height: 15%;
				font-size: 24px;
				}
	div label {vertical-align: top;}

</style>

<div>
	<label for="unwanted">unwanted terms</label>
	<select name="unwanted" size="4" multiple>
		<option value="volvo">Volvo</option>
		<option value="saab">Saab</option>
		<option value="fiat">Fiat</option>
		<option value="audi">Audi</option>
	</select>
	<label for="unwanted">unwanted terms</label>
	<select name="unwanted" size="4" multiple>
		<option value="volvo">Volvo</option>
		<option value="saab">Saab</option>
		<option value="fiat">Fiat</option>
		<option value="audi">Audi</option>
	</select>
</div>